{% extends 'customadmin/change_list.html' %}
{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block page_content %}
{% csrf_token %}



{% include "customadmin/includes/list_header_card.html" with title="Create Category Image" subtitle="Add Category Image." show_button=True %}

<div class="ibox float-e-margins">
    {% comment %} <div class="ibox-title">
        <div class="ibox-tools">
            {% if perms.users.add_user %}
            <a href="{% url opts|admin_urlname:'create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>
                Add {{ opts.verbose_name|capfirst }}</a>
            {% endif %}
        </div>
    </div> {% endcomment %}


    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="{{ opts.model_name }}-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Service Category</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Image</th>
                        <th>Service Category</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for o in object_list %}
                    <tr>
                        <td><img src="{{ o.category_image.url }}" height="100" width="100"></td>
                        <td>{{ o.service_category }}</td>
                        <td class="row-actions">
                            {% include "customadmin/partials/list_row_actions.html" %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
{{ block.super }}
<script src="{% static 'customadmin/js/userroles.js' %}"></script>

<script>
    var pagination_url = "{% url opts|admin_urlname:'list-ajax' %}";
    $(function () {
        userroles.categoryimage.index();
    });
</script>
{% endblock %}