<div style="display:none;" id="row-actions">
    Action:
    <div class="input-group">

        <select id="action-select" name="" class="form-control input-sm">
            <option value="">-----</option>
            <option value="publish">Publish selected {{ action_item }}</option>
            <option value="unpublish">Unpublish selected {{ action_item }}</option>
            <option value="delete">Delete selected {{ action_item }}</option>
        </select>

        <span class="input-group-btn">
            <button id="action-submit" type="button" class="btn btn-default btn-sm">Go</button>
        </span>

    </div>
</div>