{% extends 'customadmin/base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4">
        {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
        {% endif %}
    </div >
    <div class="col w-100 border border-2 border-dark rounded rounded-3">
       
            <div class="  ">
                <div class="bg-dark rounded rounded-3">
                    <h1 class="p-2 text-light">Login Here</h1>
                </div>
                <div class="p-5">
                    <form  method="post">
                        {% csrf_token %}
                        <div class="">
                            <div class="">
                                <label for="name">Enter Username</label> <br>
                                <input type="text" class="input-group-text w-100" name="username" placeholder="Username or E-mail">
                            </div>
                            <div class=" mt-3">
                                <label for="password">Enter your Password</label> <br>
                                <input type="password" class="input-group-text w-100" name="password" placeholder="Your Password">
                            </div>
                            <div class=" mt-3 text-center">
                                <button class="btn btn-outline-dark w-50"type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}