{% extends 'customadmin/base_section.html' %}
{% load static %}

{% block title %}
    {% if object.pk %}Change{% else %}Add{% endif %} {{ opts.verbose_name|capfirst }} - {{ opts.verbose_name_plural|capfirst }}
{% endblock%}


{% block page_header %}

{% if opts.verbose_name_plural == 'groups' %}

{% if object.pk %}Change{% else %}Add{% endif %} New Role

{% else %}

{% if object.pk %}Change{% else %}Add{% endif %} {{ opts.verbose_name|capfirst }}

{% endif %}


    {% endblock%}





{% block current_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'customadmin:dashboard' %}">{% trans 'Home' %}</a>
</li>

<li class="breadcrumb-item">
    {% if opts.verbose_name_plural == 'groups' %}

    {% if has_view_permission %}<a href="{% url opts|admin_urlname:'list' %}">User Roles</a>{% else %}User Roles{% endif %}

    {% else %}
    {% if has_view_permission %}<a href="{% url opts|admin_urlname:'list' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}

    {% endif %}
    


</li>



<li class="breadcrumb-item active">

    {% if opts.verbose_name_plural == 'groups' %}

    {% if add %}{% blocktrans with name=opts.verbose_name %}Add Role {% endblocktrans %}{% else %}{{ object|truncatewords:"18" }}{% endif %}

    {% else %}

    {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ object|truncatewords:"18" }}{% endif %}

    {% endif %}
</li>



{% endblock %}


{% block formset_errors %}
    {% include "customadmin/partials/form_errors.html" with form=form %}
{% endblock%}


{% block page_content %}
    Change form content goes here.
{% endblock %}