{% extends 'base.html' %}
{% block body %}

<div class="row">
    <div class="col-3">
        <ul class="list-group mt-5">
            <li class="list-group-item border-dark py-3"><a class="text-dark text-decoration-none" href="/customadmin/users">User</a></li>
            <li class="list-group-item border-dark py-3">A second item</li>
            <li class="list-group-item border-dark py-3">A third item</li>
            <li class="list-group-item border-dark py-3">A fourth item</li>
            <li class="list-group-item border-dark py-3">And a fifth one</li>
        </ul>
    </div>

</div>
{% endblock %}