{% extends 'customadmin/change_form.html' %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block page_content %}
    <form id="{{ opts.model_name }}-form" action="" method="post" enctype="multipart/form-data" autocomplete="off">

        {% include "customadmin/partials/form_hidden_fields.html" %}

        <div class="ibox float-e-margins">

            {% include "customadmin/partials/ibox_title.html" with ibox_title="Testimonial Details" icon_class="fas fa-sign-in-alt" only %}

            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.designation|as_crispy_field }}
                    </div>
                </div>           
                <div class="row">
                    <div class="col-sm-12">          
                        {{ form.logo|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">          
                        {{ form.testimonial_text|as_crispy_field }}
                    </div>
                </div>

            </div>
            <!-- /ibox-content -->

        </div>
        <!-- /ibox --> 

        
        {% include "customadmin/partials/form_footer.html" %}

    </form>

{% endblock %}


{% block js %}
{{ block.super }}

<script src="{% static 'customadmin/js/userroles.js' %}"></script>
<script>
    $(function() {
        userroles.testimonials.details();
    });
</script>
{% endblock %}