{% extends 'customadmin/change_list.html' %}
{% load static %}
{% load misc_filters %}
{% load admin_extras %}


{% block page_content %}
    {% csrf_token %}



    {% include "includes/list_header_card.html" with title="Create a new user" subtitle="Create a new user and assign with individual or group permissions." show_button=True %}

    <div class="ibox float-e-margins">
        {% comment %} <div class="ibox-title">
            <div class="ibox-tools">
                {% if perms.users.add_user %}
                <a href="{% url opts|admin_urlname:'create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Add {{ opts.verbose_name|capfirst }}</a>
                {% endif %}
            </div>
        </div> {% endcomment %}


        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="{{ opts.model_name }}-table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Profile Image</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Email</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Profile Image</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for o in users %}
                        <tr>
                            <td>{{ o.email }}</td>
                            <td>{{ o.first_name }}</td>
                            <td>{{ o.last_name }}</td>
                            {% if o.profile.picture %}
                            <td height="80px" width="180px"><img src="{{ o.profile.picture.url }}" alt="no image" height="80x" width="180px"></td>
                            {% else %}
                            <td>No image</td>
                            {% endif %}
                            <td class="row-actions">
                                <td>{% show_check o.is_active %}</td>
                            </td>
                            <td class="row-actions">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
{{ block.super }}
<script src="{% static 'customadmin/js/userroles.js' %}"></script>


{% endblock %}